<mat-form-field>
    <mat-label>Sprachmodell</mat-label>
    <mat-select [formControl]="modelSelector">
        <mat-option *ngFor="let model of languageModels" [value]="model">
            {{model}}
        </mat-option>
    </mat-select>
</mat-form-field>
<p>Form value: {{modelSelector.value.value}}</p>
<mat-grid-list cols="2" rowHeight="250px" class="grid-layout-custom">
    <mat-grid-tile>
        <mat-form-field class="big-input">
            <mat-label>User Prompt</mat-label>
            <textarea matInput [formControl]="userPrompt" cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="Sehr geehrte Damen und Herren..."></textarea>
            <mat-error *ngIf="userPrompt.errors?.['required']">User prompt is required</mat-error>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="big-input">
            <mat-label>System Prompt</mat-label>
            <textarea matInput [formControl]="systemPrompt" cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="Du bist ein Kundensupport-Agent..."></textarea>
            <mat-error *ngIf="systemPrompt.errors?.['required']">System prompt is required</mat-error>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="big-input">
            <mat-label>Input Data</mat-label>
            <textarea matInput [formControl]="inputData" cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="JSON-Data"></textarea>
            <mat-error *ngIf="inputData.errors?.['required']">Input Data is required</mat-error>
            <mat-error *ngIf="inputData.errors?.['jsonInvalid']">Invalid JSON</mat-error>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="big-input">
            <mat-label>Template</mat-label>
            <textarea matInput [formControl]="template" cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="Muss {systemPrompt} & {userPrompt} & {inputData} enthalten"></textarea>
            <mat-error *ngIf="template.errors?.['required']">Template is required</mat-error>
            <mat-error *ngIf="template.errors?.['templateInvalid']">Missing {{"{systemPrompt}, {userPrompt} or {inputData}"}}</mat-error>
        </mat-form-field> 
    </mat-grid-tile>
</mat-grid-list>
<div class="output-div">
    <button mat-raised-button color="warn" class="button-custom" (click)="submitPrompt()">Submit</button>
    <pre class="output-pre" *ngIf="!spinner else spinnerTp">{{output.value}}</pre>
    <ng-template #spinnerTp>
        <mat-spinner mode="indeterminate"></mat-spinner>
    </ng-template>
</div>