.big-input {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.grid-layout-custom {
    width: 95vw;
}

.button-custom {
    width: 100%;
    margin: 10px;
}

.div-custom {
    width: 100%;
    height: 100%;
}

.output-div {
    width: 95vw;
    height: 100%;
    padding: 10px;
}

.output-pre {
    padding: 10px; 
    width: 95vw;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}