<mat-grid-list cols="2" rowHeight="250px" class="grid-layout-custom">
    <mat-grid-tile class="grid-tile-custom">
        <mat-form-field class="big-input">
            <mat-label>Mail Input</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="Sehr geehrte Damen und Herren..."></textarea>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile-custom">
        <mat-form-field class="big-input">
            <mat-label>Systemprompt</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="Du bist ein Kundensupport-Agent..."></textarea>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile-custom">
        <mat-form-field class="big-input">
            <mat-label>Stammdaten</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="Im JSOS-Format"></textarea>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile-custom">
        <mat-form-field class="big-input">
            <mat-label>Template</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="{Systemprompt} {Prompt} {Input}"></textarea>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="grid-tile-custom">
        <div class="div-custom">
            <button mat-raised-button color="primary" class="button-custom">Submit</button>
            <mat-form-field class="big-input">
                <mat-label>Output</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="12" placeholder="Sehr geehrter [Name des Kunden], ..." readonly="true"></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
</mat-grid-list>