<mat-grid-list cols="2" rowHeight="2:1" class="grid-layout-custom">
    <mat-grid-tile>
        <mat-form-field class="big-input">
            <mat-label>Mail Input</mat-label>
            <textarea matInput placeholder="Sehr geehrte Damen und Herren..."></textarea>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="big-input">
            <mat-label>Systemprompt</mat-label>
            <textarea matInput placeholder="Du bist ein Kundensupport..."></textarea>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="big-input">
            <mat-label>Output</mat-label>
            <textarea matInput placeholder="Sehr geehrte Damen und Herren..." readonly="true"></textarea>
        </mat-form-field> 
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="big-input">
            <mat-label>Stammdaten</mat-label>
            <textarea matInput placeholder="Im JSOS-Format"></textarea>
        </mat-form-field> 
    </mat-grid-tile>
</mat-grid-list>